        </td>
      </tr>
      <tr>
        <td style="padding:10px;font-family:'Droid Arabic Kufi', sans-serif;">
          <p style="">
            تحياتنا،،
            <br/>
            فريق تحرير هافينغتون بوست عربي
          </p>
        </td>
      </tr>
  </tbody>
</table>
