<%= render 'header' %>
<p style="">تم استلام إقتراحك بعنوان: <%= @article_title %></p>
<p style="">سيتم مراجعة الإقتراح من خلال إدارتنا وإعلامك في حالة قبول أو رفض الإقتراح.</p>
<%= render 'footer' %>
