<%= render 'header' %>
<p style="">تم استلام بيانات مقالك بعنوان: <%= @article.title %></p>
<p style="">سيتم مراجعة المقال من خلال إدارة التحرير و اخطارك حال وجود تعديلات، أو حين يتم نشر المقال.</p>
<%= render 'footer' %>
